.git
.venv
__pycache__
**/__pycache__
.pytest_cache
.ruff_cache
*.egg-info
**/*.egg-info
build
dist
legacy
*.har
*.ini
secrets
letsencrypt
automation.json


# Snapcraft build output
.snap-build-venv/
.snapcraft/
parts/
stage/
prime/
*.snap
*.assert
