include README.md CHANGELOG.md Dockerfile .dockerignore
recursive-include examples *.example *.cron
recursive-include integrations *.json *.md
recursive-include tests *.py
recursive-include docs *.md
global-exclude __pycache__ *.py[cod] *.har
